<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="index file">
    <meta name="author" content="Adrian Kowalski">
    <link rel="icon" href="../../favicon.ico"/>

    <title>SQL Universal Table Viewer</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">
        <img alt="" class="d-inline-block align-top" height="99" width="72" th:src="@{/images/logo.png}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="/register">Register</a></li>
            <li><a class="nav-link" href="/login">Login</a></li>
        </ul>
    </div>
</nav>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col" style="width: 10%">Id</th>
        <th scope="col" style="width: 30%">Name</th>
        <th scope="col" style="width: 40%">Description</th>
        <th scope="col " style="width: 20%">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${courseList.empty}">
        <td colspan="2"> No courses available</td>
    </tr>
    <tr th:each="course : ${courseList}">
        <td><span th:text="${course.getId()}"> Title </span></td>
        <td><span th:text="${course.getName()}"> Author </span></td>
        <td><span th:text="${course.getDescription()}"> Author </span></td>
        <td>
            <button class="btn btn-danger"> Delete</button>
        </td>

    </tr>
    </tbody>
</table>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>