<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/meta.html"></head>
<head><title>Course panel</title></head>
<body>
<navbar th:insert="/fragments/navbar.html"></navbar>
<a href="/showForm" class="btn btn-outline-primary" role="button">Add course</a>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col" style="width: 10%">Id</th>
        <th scope="col" style="width: 30%">Name</th>
        <th scope="col" style="width: 40%">Description</th>
        <th scope="col " style="width: 20%">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${courseList.empty}">
        <td colspan="2"> No courses available</td>
    </tr>
    <tr th:each="course : ${courseList}">
        <td><span th:text="${course.getId()}"> Title </span></td>
        <td><span th:text="${course.getName()}"> Author </span></td>
        <td><span th:text="${course.getDescription()}"> Author </span></td>
        <td>
            <a th:href="|/updateForm/${course.getId()}|" class="btn btn-info">Update</a>
            <a th:href="|/api/deleteCourse/${course.getId()}|" class="btn btn-danger">Delete</a>
        </td>

    </tr>
    </tbody>
</table>
<div th:include="/fragments/default-scripts.html"></div>
</body>
</html>